ul {
  list-style: none; 
}

.btn {
    border-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
.btn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
 .btn-error {
    border-radius: 15px;
    background-color: red;
    color: white;
  }